
<template name="homepage">
    <div class="ui center aligned container">

        <br/>
        <br/>

        <div class="ui header">
            Watch the shows you love, and the plot lines you care about.
        </div>

        <div class="ui header">
            Catch up on an old classic you may have missed, without all those boring filler episodes!
        </div>

        <br/>

        {{#if currentUser }}
            <div class="ui form centered doubling grid">
                <div class="ui eight wide column field">
                    <form class="ui form" id="newSeriesForm">
                        <div class="field">
                            <input type="text" name="searchBox" placeholder="Search Box">
                        </div>
                        <button class="ui button" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <h3>Search Results</h3>
            {{#each searchResults}}
                <p>testing</p>
            {{/each}}
        {{/if}}

        <br/>
        <br/>
        <br/>


        <h3 class="ui horizontal header divider"><span>Recently Added Series</span></h3>
        <div class="ui equal width centered grid">
            {{#each recentSeries}}
                <a href="/series/{{slug}}">
                    <div class="series-image" style="background-image: url('{{poster.url}}')"></div>
                </a>
            {{/each}}
        </div>
    </div>
</template>
