<template name="seriesList">
    <div class="container" id="series-list-container">
        <div class="ui divided items">
            <br/>
            {{#each allSeries}}
                {{> singleSeries}}
            {{/each}}
        </div>
    </div>
</template>

<template name="singleSeries">
<div class="item" id="{{slug}}">
	{{#if remotePoster}}
		<div class="ui small image">
			<a href="/series/{{slug}}">
				<img src="{{remotePoster}}" style="max-width: 150px !important;" class="ui fluid image">
			</a>
		</div>
	{{/if}}
	<div class="content">
		<div class="header"><a href="/series/{{slug}}">{{title}}</a></div>
		<span class="right floated">
            <a href="/series/{{slug}}">see episodes<i class="right chevron icon"></i></a></span>
	  	<div class="meta">
			<span class="release">
				{{startDateFormatted}}
			</span>
		</div>
		<div class="description">
		{{#if description}}
			{{{description}}}
		{{else}}
			Details unknown at this time.
		{{/if}}
		</div>
	 	<div class="extra">
		{{#if studio}}
			<div class="ui bottom left floated item">{{studio}}</div>
		{{/if}}
		{{#if trakt}}
			<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
		{{/if}}
	  	</div>
	</div>
</div>
</template>