<template name="seriesHomepage">
    <div class="ui container">
        <br/>
        {{#with currentSeries}}
            <div class="ui centered huge header">{{title}}</div>
            <br/>
            <div>{{{description}}}</div>
            <br/>
            <br/>
            <br/>
            <div class="ui centered relaxed grid">
                {{#each seriesArcs}}
                    {{> singleArcButton }}
                {{/each}}
            </div>
        {{/with}}

        <div class="ui centered">
            <br/>
            <br/>
            {{#each filteredEpisodes}}
                {{> singleEpisode }}
            {{/each}}
        </div>
    </div>
</template>

<template name="singleEpisode">
    <h3 class="ui horizontal header divider"><span>{{title}}</span></h3>
    <p>{{{description}}}</p>
    <div>
        {{#each episodeArcs}}
            {{> singleArcLabel }}
        {{/each}}
    </div>
</template>

<template name="singleArcButton">
    <button class="ui small {{colour}} arc inverted button" id="{{_id}}">{{title}}</button>
</template>

<template name="singleArcLabel">
    <span class="ui mini {{colour}} arc tag label">{{title}}</span>
</template>