<template name="seriesHomepage">
    <div class="ui series-blurb container grid">
        {{#with currentSeries}}
            <div class="four wide column">
                <img src="{{poster.url}}">
            </div>
            <div class="ui twelve wide column">
                <div class="ui centered huge header">{{title}}</div>
                <br/>
                <div>{{{description}}}</div>
                <br/>
                <br/>
                <br/>
                <div class="ui centered relaxed grid">
                    {{#each seriesArcs}}
                        {{> singleArcButton }}
                    {{/each}}

                    {{#if currentUser }}
                        <div class="ui right labeled left icon input">
                            <i class="tags icon"></i>
                            <input id="newTagInput" type="text" placeholder="enter new tag">
                            <a id="newTagSubmit" class="ui tag label">
                                add tag
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/with}}

        <div class="ui centered container">
            <br/>
            <br/>
            <div class="ui accordion">
                {{#each filteredEpisodes}}
                    {{> singleEpisode }}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="singleEpisode">

    <div class="title">
        <div class="ui grid">
            <div class="ui three wide column">
                Season {{season}} - Episode {{number}}
            </div>
            <div class="ui eight wide column">

                <span class="ui medium header">{{title}}</span>
            </div>

            <div class="ui five wide right aligned column">
                {{#each episodeArcs}}
                    {{> singleArcLabel }}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="content">
        <p>{{{description}}}</p>
        {{#if currentUser }}
            <div class="ui four column right aligned doubling grid">
                <div class="sixteen wide column">
                    {{#if episodeArcChoices }}
                        <div>Add Arc to Episode</div>
                        {{#each episodeArcChoices}}
                            {{> addArcDropdown }}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>

    <div class="ui section divider"></div>
</template>

<template name="singleArcButton">
    <span class="ui small {{colour}} arc inverted button" id="{{_id}}">{{title}}</span>
</template>

<template name="singleArcLabel">
    <span class="ui mini {{colour}} arc tag label">{{title}}</span>
</template>

<template name="addArcDropdown">
    <a value="{{slug}}" class="ui {{colour}} circular label addArcButton">{{title}}</a>
</template>