<template name="about">
    <div class="ui center aligned main-body container">
    	<div class="ui large header">About Skippable.tv</div>
		<div class="ui container">
			<p>So one day I wanted to watch Buffy. I mean, I'd seen it a few.. dozen.. times before. But this time I wanted to skip over all the monster-of-the-week episodes, and just watch the important stuff. And the episodes with Spike. I searched around online and found some lists in a few different places, and I thought wouldn't it be nice if they were collected together in an easily filterable format?</p>
	    	<p>So here we are.</p>
		</div>
    	<div class="ui large header">Want To Contribute?</div>
		<div class="ui container">
	    	<p>That's awesome! Just sign up and start adding stuff. I trust you. :)</p>
	    	<p>Head over to <a href="/admin">the admin section</a> to sign up.</p>
	    	<p>If you find bugs or problems or whatever, please feel free to <a href="https://github.com/inconsiderate/skippable/issues">post an issue on the repo.</a><br/>This is a work-in-progress and it's pretty rough around the edges.</p>
	    </div>
	</div>
</template>
