<template name="header">
    <div class="ui inverted vertical center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a href="/" class="item">home</a>
                <a href="/series" class="item">series</a>
                <a href="/about" class="item">about</a>
                <div class="right item">
                    <h1 class="ui inverted header">Skippable<i class="red mini fitted heart icon"></i>tv</h1>
                </div>
            </div>
        </div>
	</div>
</template>

<template name="seriesHeader">
    <div class="ui inverted vertical center aligned sixteen wide tablet computer only grid segment fixed">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a href="/" class="item">home</a>
                <a href="/series" class="item">series</a>
                <a href="/about" class="item">about</a>
                <div class="right item">
                    <h1 class="ui inverted header">Skippable<i class="red mini fitted heart icon"></i>tv</h1>
                </div>
            </div>
        </div>
        {{> loginButtons}}
    </div>
    <div class="ui inverted vertical center aligned sixteen wide mobile only grid segment">
        <div class="ui sidebar move inverted vertical menu">
            <br/>
            <br/>
            <br/>
            <br/>
            <a href="/" class="sidebar-button item">home</a>
            <a href="/series" class="sidebar-button item">series</a>
            <a href="/about" class="item">about</a>
            {{#with currentSeries}}
                {{#each seriesArcs}}
                    <a class="sidebar-button item">
                        <span class="ui small {{colour}} arc inverted button" id="{{_id}}">{{title}}</span>
                    </a>
                {{/each}}
            {{/with}}
        </div>
    </div>
    <div class="ui inverted center aligned sixteen wide mobile only grid segment fixed" style="padding-top: 1em; padding-bottom: 1em;">
        <div class="ui inverted mobile huge header">
            Skippable<i class="red mini fitted heart icon"></i>tv
        </div>
    </div>
</template>
