html, body {
    font-size: 16px;
    background-color: #FCFFFA;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.mini.heart.icon {
    font-size: 15px;
}

.series-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 200px;
}

.ui.series-page.container.grid {
    padding-top: 2em;
}

.ui.right.labeled.left.input i{
    left: 10px;
}

.season-icon {
    background-color: #ffc4c4;
    border: solid 1px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.ui.section.divider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.series-background {
    background-position: center top;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.ui.inverted.header, .ui.inverted.description {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: white;
}

#series-list-container {
    min-height: 90%;
}

#new-tag-column {
    margin-top: 1em;
}

.ui.inverted.center.aligned.sixteen.wide.grid.segment {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}


.ui.sidebar {
    right: 50%;
    visibility: inherit;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ui.sidebar.move {
    -webkit-transform: translate(-100%);
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    z-index: 1000 !important;
}





.ui.checkbox {
    margin-right: 20px;
    margin-left: 20px;
}

.container .ui.header.divider {
    margin: 0.5em 0em 2em 0em
}

a {
    font-weight: bold;
}

.ui.horizontal.inverted.divider {
    margin: 2em 0em;
}


.ui.inverted.vertical.footer.segment {
    margin-top: 3em;
}


.ui.list > .item h3.header {
    margin-bottom: 5px;
}

.orion-bootstrap-admin img {
    max-width: 2.5em;
}



i.icon {
    margin: 0 !important;
}

img {
    width: 100%;
}

a {
  color: inherit;
}


a:hover {
    color:black;
}
